/*留言页面css文件*/
@charset "utf-8";
.book{overflow:hidden;clear:both;margin-bottom:20px;}
.book .text{border:1px solid #dadada;}
.book .text .div{padding:10px 20px;}
.book .text .div .base{font-family:verdana;color:#000;border-bottom:1px dashed #ccc;line-height:30px;margin-bottom:10px;}
.book .text .div .base span{float:right;color:#999;}
.book .text .div .content{line-height:20px;word-wrap:break-word;overflow:hidden;}
.book .text .div .reply{font-family:verdana;border-top:1px dashed #ccc;line-height:25px;margin-top:10px;color:#000;padding-top:5px;word-wrap:break-word;overflow:hidden;}
.book .text .div .reply strong{color:#f60;float:left;}

.bookadd{margin:10px auto;width: 990px;}
.bookadd div{margin-bottom:15px;}
.bookadd .label{float:left;width:100px;text-align:right;padding-right:10px;/*clear:both;*/}
.bookadd .label span{color:#f30;}
.bookadd .enter{margin-left:10px;float: left;position: relative;}
.bookadd .enter .ip{border:1px solid #ccc;padding:10px;vertical-align:middle;overflow:hidden;}
.bookadd .enter .bnt{border:none;background:#de0100;padding:6px 72px;vertical-align:middle;cursor: pointer;color: #fff;font-size: 16px;margin:0 15px 0 0 ;}
.bookadd .enter .bnt:hover{opacity: 0.8;}
.bookadd .enter .bg0{background: #000;}
.bookadd .enter label{display:block;position: absolute;right: 15px;bottom: 10px;color:#999;font-size: 12px;}
.bookadd .enter #booklen{color:#f30;}
.pc_header{font-size: 18px;font-weight: bold;text-align: center;padding: 15px 0;}
.bookadd .enter .lyk{width: 743px;height: 130px;}
.bookadd .enter .yzm{width: 153px;}