/*分页样式*/
.div_currpage{width:100%;text-align:center;overflow:hidden;/*padding-top:20px;padding-bottom:30px;*/}
.div_currpage a,.div_currpage span{padding:2px 6px;line-height:35px;border:1px solid #1b1b1b;text-align:center;display:inline;margin-top:10px;color: #1b1b1b;}
.div_currpage span,.div_currpage a:hover{background:#1b1b1b;color:#fff;}